/*General*/
body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--fcolor);
}
:root {
  --fcolor: #b98e1f;
  --bgmenu: #444;
}

/*Contenedores*/
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "menu bg bg"
    "menu bg bg"
    "menu bg bg"
    "menu fo fo";
  grid-template-columns: 12% repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) 5%;
}
.background {
  grid-area: bg;
  position: relative;
}
.we-container{
  grid-area: bg;
  position: relative;
}
.menu {
  grid-area: menu;
  background: linear-gradient(to top, #000, var(--bgmenu));
}
.footer {
  grid-area: fo;
  background-color: #000;
}
.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Background*/
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.bg-title,
.bg-subtitle {
  position: relative;
  text-align: center;
  color: var(--fcolor);
  font-family: "Lobster", cursive;
  text-shadow: 1px 1px 3px #000;
  text-shadow: 2px 2px 5px #fff, -2px -2px 2px #fff;
}
.bg-filter {
  background-color: #fff;
  opacity: 0.75;
}

.bg-title {
  opacity: 0.9;
  font-size: 7vw;
}
.bg-subtitle {
  opacity: 0.68;
  font-size: 3vw;
}

/*Menu*/
.flex-menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
.icon-logo {
  width: 100%;
  display: flex;
  align-items: center;
}
.ilogo {
  max-width: 25%;
}
.iname {
  max-width: 70%;
  flex-grow: 1;
}
.ilogo > img {
  width: 100%;
  object-fit: fill;
}
.iname > h2 {
  text-align: center;

  color: var(--fcolor);
  text-shadow: -0.5px -0.5px 0.5px #fff;
}
.menu-container {
  width: 100%;
}
.menu-items {
  padding: 0;
}
.menu-items > li {
  color: var(--fcolor);
  text-align: right;
  font-size: 150%;
  text-shadow: 0.5px 0.5px 0.5px #fff;
  transition: all 0.2s;
}

.menu-items > li:hover {
  text-shadow: 0.5px 0.5px 0.3px #fff, -0.5px -0.5px 3px #fff;
  text-decoration: underline;
  font-size: 200%;
}

/* We Container  */
.we-container{
  width: 100%;
  height: 100%;
  background-color: #0f9;
}