.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100vw;
    min-height: 100vh;
}

.header-overlay {
    height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background:#EFF0EB;
	z-index: 1;
	opacity: 0.4;
}

.header-content {
    z-index: 2;
    position: relative;
    top: 32%;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
}

.header-content h1 {
	font-size: 75px;
	margin-bottom: 0;
	color: #b98e1f;
	text-shadow: 2px 2px #000000;
}

h1 {font-family: 'Lobster', cursive;/* font-size: 10px; */}

.header-content p {
	font-size: 1.5rem;
	display: block;
	padding-bottom: 1rem;
}

.redes {
	font-size: 2.7rem;
	color: #484E4A;
}
.redesFooter {
	color: white;
	text-align: right;
}
.redes a {
	text-decoration: none;
	color: #484E4A;
}
.redesFooter a {
	color: white;
}
.redes a:hover,
.redesFooter a:hover {
	color: #E1EFF7;
}
.redes i {
	margin-right: 10px;
}
.redesFooter i {
	font-size: 2em;
	margin-right: 10px;
}
.btn {
	background: #EACB48;
	color: #484E4A;
	padding: 0.7rem 1rem;
	text-decoration: none;
	border-radius: 24px;
}
.quienes, .eventos, .secciones, .areas, .pasoFe,
.agradecimientos, .orarPorVos {
	max-width: 100%;
    padding: 3rem 10rem;
}
.quienes {
    background-color: #EFF0EB;
}
.quienes h2, .eventos h2, .secciones h2, .areas h2, 
.eventos h3, .eventos figure,
.eventos video {
	/* margin-bottom: 1.5rem; */
	margin: 20px 0;
}
.eventos h3 {
	margin-top: 0;
}
.eventos div {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.eventos article {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	border: 3px dashed #EFF0EB;
	padding: 2% 3%;
	margin: 0 auto;
}
.eventos article figure {
	width: 30%;
}
.eventos article img{
	width: 300px;
}
.eventos article .eventosTxt {
	margin-top: 0;
	width: 70%;
}
.eventosTxt p {
	/* margin-left: 20px; */
	margin-bottom: 20px;
}
.eventosTxt .descargas {
	margin-left: 20px;
	text-align: right;

}
.secciones {
	background: #EFF0EB;
}
.secciones > div {
	display: flex;
}
.secciones article {
	width: 30%;
	border: 3px dashed #C5C1BB;
	padding: 1%;
	margin: 0 auto;
	height: fit-content;
}
.seccionesVideo {
	width: 100%;
}
.seccionesTxt h3 {
	text-align: center;
	text-transform: uppercase;
}
.seccionesTxt h4 {
	color: #00A099;
	text-align: center;
}
.secciones article figure {
	width: 100%;
	overflow: hidden;
}
.secciones article img {
	width: 100%;
}
.secciones article img:hover {
	transform: scale(1.1);
	transition: 1.3s ease;
}
.secciones article .seccionesTxt {
	margin-top: 20px;
	width: 100%;
}
.seccionesTxt h3 {
	margin-bottom: 20px;
}
.seccionesTxt p {
	margin-bottom: 20px;
}
.areas {
	background: #C5C1BB;
}
.areas div {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.areas article {
	width: 30%;
	height: auto;
	padding: 3%;
	margin: 1.5%;
    background: #fff;
}
.areas article h3 {
	margin: 6% 0;
}
.areas .donaciones {
	text-align: center;
    display: block;
    background: #f5f5f4;
	border: 2px dashed #C5C1BB;
    margin: 2%;
    padding: 2% 5%;
}
.areas .donaciones h3 {
	margin-bottom: 2%;
}
.areas .donaciones > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.areas .donaciones > div a {
	font-weight: 500;
	color: black;
}
.areas .donacionesBtn {
	background: #C0E5F7;
	width: 23%;
	padding: 1% 2%;
	margin: 0 auto;
	border-radius: 38px;
}

.areas .donacionesBtn:hover {
	background: #C5C1BB;
	transition: all 0.3s ease-in-out;
}
.agradecimientos {
	background: #00A099;
}
.orarPorVos {
	background: #EFF0EB;
}
.pasoFe,
.agradecimientos,
.orarPorVos,
.pasoFe div,
.agradecimientos div,
.orarPorVos div {
	display: flex;
	align-items: center;
}
.pasoFe div,
.orarPorVos div,
.agradecimientos div {
	width: 100%;
}
.pasoFe .pasoFeTxt,
.agradecimientos .agradecimientosTxt,
.orarPorVos .orarPorVosTxt {
	width: 60%;
	padding: 3%;
	display: block;
	text-align: center;
}
.pasoFe .pasoFeTxt h2 {
	margin-bottom: 2%;
	color: #D8B10A;
}
.agradecimientos .agradecimientosTxt h2 {
	margin-bottom: 2%;
	color: white;	
}
.orarPorVos .orarPorVosTxt h2 {
	margin-bottom: 2%;
	color: #484E4A;	
}
.pasoFe .pasoFeTxt h4, 
.orarPorVos .orarPorVosTxt h4, 
.agradecimientos .agradecimientosTxt h4 {
	margin-bottom: 2%;
}
.pasoFe form,
.agradecimientos form,
.orarPorVos form {
	width: 40%;
	text-align: center;
	padding: 2% 3%;
	background: #EACB48;
	border-radius: 15px;
}
.agradecimientos form {
	background: #00A099;
	border: 3px dashed white;
}
.orarPorVos form {
	background: #484E4A;
}
.pasoFe form h3,
.agradecimientos form h3,
.orarPorVos form h3 {
	margin-bottom: 7%;
	color: white
}
.pasoFe form input,
.agradecimientos form input,
.orarPorVos form input {
	width: 80%;
    border: none;
    padding: 1% 2%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3%;
}
.pasoFe form input.mensaje,
.agradecimientos form input.mensaje,
.orarPorVos form input.mensaje {
	height: 100px;
}
input:focus {
	background-color: #f7f0d4;
	border: 3px solid #484E4A;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}
.agradecimientos input:focus {
	background-color: #e2fffd;
}
.orarPorVos input:focus {
	background-color:#EFF0EB;
}
.pasoFe input.btnEnviar,
.orarPorVos input.btnEnviar,
.agradecimientos input.btnEnviar {
	margin: 4% 0;
	padding: 3%;
	border: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-radius: 15px;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	cursor: pointer;
	height: 50px;
	width: 200px;

}
.pasoFe .btnEnviar {
	background: #484E4A;
	color: #EACB48;
}
.pasoFe .btnEnviar:hover {
	background: #7D6332;
	color: #EACB48;
}
.agradecimientos .btnEnviar:hover {
	background: #C0E5F7;
	color: #00A099;
}
.g-recaptcha {
	justify-content: center;
}
footer {
	background: #484E4A;
	padding: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}
footer span.desarrollado a {
	text-decoration: none;
	color: #C5C1BB;
	letter-spacing: 1px;
    font-size: .95rem;
	transition: .5s;	
}
footer span.desarrollado a:hover {
	color: white;
}

.lateral_menu{
	background-color: #000000;
}